<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>（一）Vue-component有兩種寫法（global / local)</h2>
    <h2>1.寫法一(global)</h2>
    <div id="app">
        <my-component></my-component>
        <my-component></my-component>
    </div>
    <h2>2.寫法二(local)</h2>
    <div id="app2">
        <my-component2></my-component2>
        <my-component2></my-component2>
    </div>
    <h2>(二)component的注意事項</h2>
    <h2>較常會用錯，如下有兩個範例</h2>
    <div id="app3">
        <h2>1.ul/li 錯誤寫法,通常只適用於chorme(請看程式碼)</h2>
        <my-component3></my-component3>
        <h2>2.ul/li 正確寫法</h2>
        <my-component4></my-component4>
        <h2>3.select/option 錯誤寫法(請看程式碼)</h2>
        <select>
            <my-component5></my-component5>
        </select>
        <h2>4.select / option 正確寫法</h2>
        <my-component6></my-component6>
    </div>
    <div id="app4">
        <h2>(三)動態綁定</h2>
        <button type="button" @click="change1">lesson</button>
        <button type="button" @click="change2">apply</button>
        <br>
        <keep-alive>
        <component :is="content"></component>
        </keep-alive>
        <h2>(四)Vue component的data必須式函式</h2>
        <p>1.宣告在組件內的變數,會因為每次生成新的組件,而產生新的變數,所以不會互相干擾,各自獨立</p>
        <counter1></counter1>
        <counter1></counter1>
        <p>2.（本行不確定）宣告在組件外的變數,會因為每次生成新的組件,而使用到同一個變數,所以會互相干擾,而產生同步情況</p>
        <counter2></counter2>
        <counter2></counter2>
    </div>
    <div id="app5">
        <h2>(五)上層傳來的props</h2>
        <my-component7 book="good book"></my-component7>
        <h2>(六)動態綁定props</h2>
        <my-component8 :book="book"></my-component8>
        <h2>(七)動態綁定props ＋ v-for （原理）</h2>
        <my-component9 v-for="item in posts" :newbook="item.newbook" :author="item.author"></my-component9>
        <h2>(八)動態綁定props ＋ v-for （簡易寫法）</h2>
        <my-component9 v-for="item in posts" v-bind="item"></my-component9>
        <h2>(九)動態綁定props ＋ 數字寫法</h2>
        <h3>1.以下範例是錯的- 此時是變數＋字串</h3>
        <my-component10 count="1"></my-component10>
        <h3>2.以下範例是對的- 此時是變數＋數字（原理）</h3>
        <my-component10 :count="count"></my-component10>
        <h3>3.以下範例是對的- 此時是變數＋數字（簡易寫法）</h3>
        <my-component10 :count="1"></my-component10>
    </div>
    <div id="app6">
        <h2>(十)動態綁定props ＋ 計算器</h2>
        <h3>1.一個計算器</h3>
        <counter3 :count="count"></counter3>
        <h3>2.二個計算器-互相干擾</h3>
        <h3>2-1.html上面的</h3>
        <p>{{count2}}</p>
        <button type="button" @click="count2 +=2">+2</button>
        <h3>2-2.Vue.component的</h3>
        <counter4 :count2="count2"></counter4>
        <h3>3.二個計算器-不會互相干擾的做法</h3>
        <h3>3-1.html上面的</h3>
        <p>{{count3}}</p>
        <button type="button" @click="count3 +=2">+2</button>
        <h3>3-2.Vue.component的</h3>
        <counter5 :start="count3"></counter5>
        <h3>4.做出原本數值的兩倍</h3>
        <h3>4-1.原數值</h3>
        <p>{{count4}}</p>
        <button type="button" @click="count4 +=2">+2</button>
        <h3>4-2.兩倍</h3>
        <counter6 :count4="count4"></counter6>
        <h2>(十一)驗證</h2>
        <h3>驗證時要把引入的Vue刪除min,因為有min表示壓縮過,表示成品階段</h3>
        <h3>沒有min表示開發階段</h3>
        <h3>count5現在是字串（可看程式碼）,console此時會跳紅字</h3>
        <counter7 count5="1"></counter7>
        <h3>本題要用default來給值</h3>
        <counter8></counter8>
        <h2>(十二)綁定自訂事件</h2>
        <h2>1.綁定自訂事件 & 給資料內容（num）</h2>
        <counter9 @clicked1="alert1" @clicked2="alert2"></counter9>
        <counter10 @clicked2="alert2"></counter10>
        <h2>2.-透過emit按鈕更新第二個數值-原理</h2>
        <counter11 @emit-data3="btn1"></counter11>
        <h2>{{count5}}</h2>
        <h2>3.綁定自訂事件-native寫法</h2>
        <counter12 @click.native="alert3"></counter12>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
    <script>
    Vue.component("my-component",{
        template:`<div>HELLO</div>`
    });
    var app=new Vue({
        el:"#app",
    });
    var app= new Vue({
        el:"#app2",
        components:{
            "my-component2":{
                template:`<div>Cool</div>`
            }
        }
    });
    Vue.component("my-component3",{
        template:`<li>party time</li>`
    });
    Vue.component("my-component4",{
        template:`<ul><li>parttime</li></ul>`
    });
    Vue.component("my-component5",{
        template:`<option value="1990">1990</option>`
    });
    Vue.component("my-component6",{
        template:`<select><option value="1990">1990</option></select>`
    });
    Vue.component("lesson",{
        template:
        `
        <ul>
            <li>lesson1</li>
            <li>lesson2</li>
            <li>lesson3</li>
        </ul>
        `
    });
    Vue.component("apply",{
        template:
        `
        <div>
            <textarea></textarea>
            <br>
            <button type="button">submit</button>
        </div>
        `
    });
    Vue.component("counter1",{
        data(){
            return {
                count1: 0
            }
        },
        template:
        `
        <div>
            <p>{{count1}}</p>
            <button type="button" @click="count1 +=1">+1</button>
        </div>
        `
    });
    const count2Data={
        count2:0
    }
    Vue.component("counter2",{
        data(){
            return count2Data
        }
        ,
        template:
        `
        <div>
            <p>{{count2}}</p>
            <button type="button" @click="count2 +=2">+2</button>
        </div>
        `
    })
    var app=new Vue({
        el:"#app3",
    });
    var app=new Vue({
        el:"#app4",
        data:{
            content:"lesson"
        },
        methods:{
            change1(){
                this.content="lesson"
            },
            change2(){
                this.content="apply"
            }
        }
    });
    Vue.component("my-component7",{
        props:["book"],
        template:
        `<p>書名：{{book}}</p>`
    });
    Vue.component("my-component8",{
        props:["book"],       
        template:`<p>書名：{{book}}</p>`
    });
    Vue.component("my-component9",{
        props:["newbook","author"],
        template:`<div>書名：{{newbook}} ; 作者：{{author}}</div>`
    });
    Vue.component("my-component10",{
        props:["count"],
        template:`<p>我現在是:{{count +1}}</p>`
    });
    var app=new Vue({
        el:"#app5",
        data:{
            book:"good book",
            posts:[
                {newbook:"cool",author:"bob"},
                {newbook:"so cool",author:"dj"}
                ],
            count: 1
        }
    });
    Vue.component("counter3",{
        props:["count"],
        template:
        `
        <div>
            <p>{{count}}</P>
            <button type="button" @click="count +=1">+1</button>
        </div>
        `
    });
    Vue.component("counter4",{
        props:["count2"],
        template:
        `
        <div>
            <p>{{count2}}</p>
            <button type="button" @click="count2 +=2">+2</button>
        </div>
        `
    });
    Vue.component("counter5",{
        props:["start"],
        data(){
            return{
                newcount: this.start
            }
        },
        template:
        `
        <div>
        <p>{{newcount}}</p>
        <button type="button" @click="newcount +=2">+2</button>
        </div>
        `
    });
    Vue.component("counter6",{
        props:["count4"],
        computed:{
            dbcount(){
                return this.count4*2
            }
        },
        template:
        `
        <p>{{dbcount}}</p>
        `
    });
    Vue.component("counter7",{
        props:{
            count5: Number
        },
        template:
        `
        <p>{{count5}}</p>
        `
    })
    Vue.component("counter8",{
        props: {
            count6:{
                type: Number,
                default: 500,
                validator(value){
                    return value <= 100 
                }
            }
        },
        template:
        `
        <p>{{count6}}</p>
        `
    });
    Vue.component("counter9",{
        template:
        `
        <div>
        <button type="button" @click="emitData">alert1</button>
        </div>
        `,
        methods:{
            emitData(){
                this.$emit("clicked1",100)
            },
        }
    });
    Vue.component("counter10",{
        template:
        `
        <button type="button" @click="emitData2">alert2</button>
        `,
        methods:{
            emitData2(){
                this.$emit("clicked2",1,2,3,4,5,6)
            } 
        }
    });
    Vue.component("counter11",{
        data(){
            return{
                count : 0
            }
        },
        template:`
        <div>
        <p>{{count}}</p>
        <button type="button" @click="count +=1">this button</button>
        <button type="button" @click="clicked3">emit</button>
        </div>
        `,
        methods:{
            clicked3(){
                this.$emit("emit-data3",this.count)
            }
        }
    });
    Vue.component("counter12",{
        template:`
        <button type="button">native寫法</button>
        `
    })
    var app =new Vue({
        el:"#app6",
        data:{
            count: 0,
            count2: 0,
            count3: 0,
            count4: 0,
            count5: 0,
        },
        methods:{
            alert1(num){
                alert(`good${num}`)
            },
            alert2(x,y,z,e,h,k){
                alert(`${x},${y},${z},${e},${h},${k}`)
            },
            btn1(count){
                this.count5 = count
            },
            alert3(){
                alert("hi")
            }
        }
    }) 
    </script>
</body>
</html>